<nav class="nav">
  <a href="{{ '/' | relative_url }}" class="nav-name">
      Cédric Buche
  </a>

  <span class="nav-role">
      AI · VR · Robotics
  </span>

  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>

    <li class="menu-title">Research</li>
    <li class="sub">
      <a href="{{ '/supervision.html' | relative_url }}">
        ↳ Supervision
      </a>
    </li>
    <li class="sub">
      <a href="{{ '/grants.html' | relative_url }}">
        ↳ Grants
      </a>
    </li>
    <li class="sub">
      <a href="{{ '/collaboration.html' | relative_url }}">
        ↳ Collaboration
      </a>
    </li>

    <li><a href="{{ '/publications.html' | relative_url }}">
      Publications
    </a></li>

    <li><a href="{{ '/teaching.html' | relative_url }}">
      Teaching
    </a></li>

    <li><a href="{{ '/robobreizh.html' | relative_url }}">
      RoboBreizh
    </a></li>

    <li><a href="{{ '/contact.html' | relative_url }}">
      Contact
    </a></li>

    <li class="menu-title">CV</li>

    <li class="sub">
      <a href="https://web.enib.fr/~buche/data/CV_English.pdf">
        Full
      </a>
    </li>

    <li class="sub">
      <a href="https://web.enib.fr/~buche/data/CV_English_2p.pdf">
        Short
      </a>
    </li>

    <li class="sub">
      <a href="https://www.linkedin.com/in/cedric-buche">
        LinkedIn
      </a>
    </li>
  </ul>
</nav>
