<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1">

<title>{{ page.title }}</title>

<meta name="description"
      content="{{ page.description }}">

<link rel="stylesheet"
      href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>

<div class="topbar">
  <span class="nav-name">
      Cédric Buche
  </span>

  <button class="nav-toggle">
      Menu ☰
  </button>
</div>

<div class="shell">

    {% include sidebar.html %}

    <main>

        {{ content }}

    </main>

</div>

<script src="{{ '/assets/main.js' | relative_url }}">
</script>

</body>
</html>
